.grid-container{

    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0px;
}
.item1{
    margin-top: 60px;
    margin-left: 50px;
}
.logo{
    height: 60px;
    width:auto;
    
}
.background{
    height:auto;
    max-width: 100%;

}
.links{
    float: right;
    height: 15px;
    width: 15%;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: black;
}
.signup{
    background-color: black;
    color: white;
    margin-left: 20px;
    margin-right: 50px;
}
h1{
    margin-bottom: 0px;
    margin-top: 100px;
    
}
h2{
    color:gray;
    margin-top: 10px;
}.locationinput{
    width:70%;
    height: 25px;
    color: gray;
    margin: 40px auto auto 0px;
    padding: 10px;
    font-size: 18px !important;
    font-weight: 500;
}
.location{
    border:none;
    background-color: transparent;
    position: absolute;
    top:366px;
    left:480px;
    padding: 15px;
}
button:hover{
    background-color: lightgray;
}
.findfood{
    text-decoration: none;
    cursor:pointer;
    display: inline;
    text-align: center;
    font-size: 14px;
    font-weight:600;
    padding:0 2rem;
    letter-spacing: 0;
    color: white;
    background-color: #fc8019;
    line-height: 50px;
    padding: 15px;

    
}

.cities{
    font-size: 15px;
    color: #a9abb2;
    margin:30px 0 10px 0;
    letter-spacing: -.2px;
}
.citylist{
    width: 570px;
    list-style: none;
    margin:0px;
    
}
.list{
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    color:#686b78;
    line-height: 1.5;
    letter-spacing: -.3px;
    text-decoration: none;
}
.list:nth-child(even){
    color:lightslategray;

}
.info-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2b1e16;
    font-size: 16px ;
    font-weight : 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.center{
    display:block;
    margin-left: auto;
    margin-right:auto ;
    width:50%;
    height: 300px;
}
.text-head{
    color: white;
    text-align: center;
}
.text-detail{
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 40;
    padding:20px;
}
.rest{
    display:flex;
    justify-content: center;
    justify-content: space-around;
}
.rest img{
    width: 22%;
}
.rest.text{
    margin-top: 84px;
}
.text h1{
    font-size: 44px;;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;

}
.text p{
    margin: 0;
    font-size: 24px;;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 165px;
    padding:20px;
    color: lightslategray;
    
}
.text img{
    margin-top: 22px;
    margin-left: 165px;
    
}
.footer{
    display: flex;
    justify-content:center;
    justify-content:space-between;  
    background-color: black;
    padding: 10px;
    color: white;
   
    
}
 

.footer .list{
    margin-inline:77px;
}

.footer .list img {
    padding: 10px;
    width:53%;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.footer .list h2{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:gray;
}
.footer .list p{
    font-size: 15px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom:0px;
    cursor: pointer;
    
    
}










